<%- include('../../cabecalho.ejs')%>
   
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

    
    <div class="form-container">
        <h1>Usuarios</h1>
        <a href="/admin/usuario/add" class="options-btn">Adicionar <i class="fa-solid fa-address-card"></i></a>
        
        <div class="search-bar">
        <input type="text" class="form-control" id="pesquisar" placeholder="Pesquisar" name="pesquisar">
        <button type="submit" >Pesquisar</button>
    </div>
        <table>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>cpf</th>
                <th>Telefone</th>
                <th>Opções</th>

            </tr>
            <%Usuarios.forEach(function(Usuario){%>
            <tr>
            <td><%=Usuario.nome%></td>
            <td><%=Usuario.email%></td>
            <td><%=Usuario.cpf%></td>
            <td><%=Usuario.telefone%></td>
               
                <td>
                    <a href="/admin/usuario/edt/<%=Usuario.id%>" class="options-btn">Editar <i class ="fa-solid fa-pen-to-square"></i></a>
                  
                    <a href="/admin/usuario/del/<%=Usuario.id%>" class="options-btn">Excluir <i class="fa-solid fa-trash"></i></a>
                </td>
            </div>
            </tr>
            <%})%>
        
        </table>
        
    </div>
</body>
</html>
