<%- include('../../cabecalho.ejs')%>
   
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

    
    <div class="form-container">
        <h1>Aeroportos</h1>
        
        
        
        <div class="search-bar">
            <a>Nome do aeroporto:</a>
        <input type="text" class="form-control" id="pesquisar" placeholder="Pesquisar" name="pesquisar">
        
        <button type="submit" name="pesquisar" >Pesquisar</button>
          
   
    </div>
    <a href="/admin/aeroporto/add" class="options-btn">Adicionar <i class="fa-solid fa-address-card"></i></a>
    
        <table>
            <tr>
                <th>Aeroportos</th>
                <th>Localização</th>
                <th>Foto</th>
                <th>Opções</th>
            </tr>
                <% Aeroportos.forEach(function(aeroporto) {%>
            
            <tr>
                <td><%=aeroporto.nome%></td>
            <td><%=aeroporto.local%></td>
            <td>
                <img class="foto" src="/arquivos/<%=aeroporto.foto%>"
                />
            </td>
            
                <td>
                    <a href="/admin/aeroporto/edt/<%= aeroporto.id %>" class="options-btn">Editar <i class ="fa-solid fa-pen-to-square"></i></a>
                    
                    <a href="/admin/aeroporto/del/<%= aeroporto.id %>"class="options-btn">Excluir <i class="fa-solid fa-trash"></i></a>

                  
                </td>
            </tr>
            
            <%})%>
        </table>
    </div>
</body>
</html>
